.signin__form {
  margin: 0 auto;
  max-width: 360px;
}


input[type='text'] {
  display: block;
  box-sizing: border-box;
  outline: none;

  width: 100%;
  height: 56px;
  margin-top: 5%;

  color: #FAF9FD;
  background: #201A27;
  border: 1px solid #413A4A;
  border-radius: 6px;

  font-weight: var(--font-black);
  font-size: 16px;
  line-height: 19px;
}

input[type="submit"]{
  display: block;
  box-sizing: border-box;
  outline: none;

  max-width: 180px;
  height: 60px;
  margin-top: 5%;
  margin-left: auto;

  color: #FFFFFF;
  background: linear-gradient(180deg, #46BACA 0%, #3188D9 30.73%, #3D43C7 100%);
  border: 1px solid #211B22;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}

input[type="submit"]:hover, input[type="text"]:hover{
  box-shadow: 0 0 7px 0 #2187D3;
  border: 1px solid #2187D3;
}


#user-name{
    background-image:url('/imgs/signIn/user-name.svg');
    background-position: 9px;
    background-size: 22px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#clan-name {
  background-image: url("/imgs/signIn/clan-name.svg");
  background-position: 9px;
  background-size: 22px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.show-error-message {
  font-weight: 500;
  font-size: 16px;
  margin: 2%;
  color: #D05A69;
}

/**
 * Citation:
 * https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_placeholder
 * https://www.templatemonster.com/help/js-animated-how-to-change-the-placeholder-text-color-of-an-input.html
 */

#user-name::-webkit-input-placeholder {
  color: #fff !important;
}


.signin__header {
  max-width: 400px;
  margin-bottom: 60px;
}

.signin__header img {
  display: block;
  width: 100%;
}

.signin__main {
  display: flex;
  flex-flow: column-reverse nowrap;
  max-width: 600px;
}

.signin__guard {
  margin: 0 auto;

  position: relative;
}

.signin__guard p{
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  background: rgba(255, 255, 255, .8);
  border-radius: 6px;
  padding: 15px;;
}

.signin__guard-container {
  height: 300px;
  overflow: hidden;
}

.signin__guard img {
  width: 100%;
}

.bubble {
  position: relative;
  margin-top: -40px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  border-radius: 40px;
  text-align: center;
  color: #201A27;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid rgba(255, 255, 255, .8);
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, .8);
  border-bottom: 20px solid transparent;
  left: 30px;
  bottom: -32px;
}

@media screen and (min-width: 440px) {
  .bubble {
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .signin__main {
    flex-flow: row nowrap;
    align-items: center;
  }

  .signin__guard-container {
    height: auto;
    overflow: hidden;
  }
}
