

form{
    display:flex;
    flex-direction: column;
    max-width: fit-content;
  
}

input[type='text']{
background: #201A27;
border: 1px solid #413A4A;
box-sizing: border-box;
border-radius: 6px;
width: 357px;
height: 56px;
font-weight: 900;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #FAF9FD;
/*font-size: var(--text-base);*/
margin-top: 5%;


}

#user-name{
    background-image:url('/imgs/signIn/user-name.svg');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 40px;  
}

#clan-name{
    background-image:url('/imgs/signIn/clan-name.svg');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input[type="submit"]{ 
width: 180px;
height: 60px;
background: linear-gradient(180deg, #46BACA 0%, #3188D9 30.73%, #3D43C7 100%);
border: 1px solid #211B22;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin-top: 5%;
font-weight: 900;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
align-self: flex-end;    
}

input[type="submit"]:hover, input[type="text"]:hover{ 
    box-shadow: 0 0 7px 0 #2187D3;
    border: 3px solid #2187D3;
  }

.show-error-message{
font-weight: 500;
font-size: 16px;
margin:2%;
/* identical to box height */
color: #D05A69;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_placeholder

*https://www.templatemonster.com/help/js-animated-how-to-change-the-placeholder-text-color-of-an-input.html     */

#user-name::-webkit-input-placeholder {
    color:#fff !important;
    }

  

