.dropdown {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  transform-origin: top right;
  right: 0;
  color: #FFF;
  background-color: #2f273c;
  border: 2px solid #211b22;
  padding: 16px 16px;
  margin-top: 6px;
  border-radius: 6px;
}

.dropdown__menu p {
  margin-bottom: 6px;
}

.dropdown__menu p:first-child {
  text-align: center;
}

.dropdown__closer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.font-awesome {
  color: black;
  font-size: 16px;
}

.dropdown img{
  width:100%;
  background: #a17e25;
}

.dropdown__menu button {
  margin-top: 6px;
  font-size: var(--text-lg);
  color: #FFF;
  padding: 0;
  border: none;
  background: none;
}

.dropdown__menu button:hover{
  text-decoration: underline 2px;
}
