/* *{outline: 1px solid red;} */

.featured-items {
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 975px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

  background-color: #16131D;
  border-radius: 9px;

  padding: 15px;
}

.featured-item {
  background-color: #57455D;
  border-radius: 9px;
  min-width: 200px;
}

.featured-item a {
  display: block;
  flex-flow: row nowrap;
  text-decoration: none;
  color: white;
  height: 100%;
}

.featured-item__img {
  min-width: 200px;
}

.featured-item__description {
  padding: 15px;
}

.featured-item__description h2,
.featured-item__description p {
    margin-bottom: 15px;

  }

.featured-item__description h2{
  font-weight: var(--font-bold);
}

.featured-item:hover .featured-item__description {
    background-color: #a17e25;
  }

  @media screen and (min-width: 800px) {
    .featured-item a {
        display: flex;
        flex-flow: row nowrap;
        word-wrap: break-word;
        text-decoration: none;
        color: white;
        height: 100%;
      }
  }
