/* .product-list {
  margin-top: 50px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  gap: 15px;
  margin: 0 auto;
  
}

.product-card {
  flex: 0 0 calc(100% / 4);
} */

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  row-gap: 36px;
  width: 75%;
}

.product-filters {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 24px;
  width: 100%;
}

.sidebar {
  width: 20%;
  min-width: 200px;
}

.product-card a{
  text-decoration: none;
}


.product-card .item-name {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  border-radius: 0px 0px 6px 6px;
  text-align: center;
  color: white;
  background-color: #57455D;
}

.product-card:hover .item-name {
  background-color: #a17e25;
}

.item-name p {
  padding: 0px 10px;
  /* text-transform: capitalize; */
}



/* .product__cardlist {
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
} */

/* @media screen and (min-width: 800px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
} */

