

.product-filter-container {
  /* display: flex;
  flex-direction: column; */
  max-width: 70px;
}

.svg-filter-button {
  width: 100%;
}

.out-circle {
  stroke: #070608;
  stroke-width: 1px;
  fill: #443648;
}
.in-circle {
  fill: #57455d;
}
.up-triangle {
  fill: #443648;
}

.product-filter-container:hover .up-triangle,
.product-filter-container:hover .out-circle {
  fill: #a17e25;
}

.product-filter-container:hover image {
  height:43px;
  width:43px;
}

.filter-string {
  font-size: var(--s-4);
  text-align: center;
  color: #fff;
  margin-top: 6px;
  text-transform: uppercase;
  font-size: var(--text-sm);
  font-weight: var(--font-black);
}

.product-filter-container:hover .filter-string {
  color: #a17e25;
}

.product-filter-container.active .filter-string {
  color: #a17e25;
}

.product-filter-container.active .up-triangle,
.product-filter-container.active .out-circle,
.product-filter-container.active image {
  fill: #a17e25;
}


.witch-hat:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
