.product__image {
  max-width: 500px;
  border: 0px solid;
  background-color: #FFFFFF;
  border-radius: 9px 9px 0px 0px;
}

.product__image img {
  display: block;
  margin: 0 auto;

  width: 100%;
}

.product__image-rarity {
  margin: 0 auto;
  height: 40px;
  border-radius: 0px 0px 6px 6px;
  max-width: 160px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--text-sm);
  font-weight: var(--font-black);
}

.legendary .product__image-rarity {
  background-color: #C521D3;
  color: white;
}

.legendary.product__image {
  border-color: #C521D3;
}

.rare .product__image-rarity {
  background-color: #6B46C1;
  color: white;
}

.rare.product__image {
  border-color: #6B46C1;
}

.uncommon .product__image-rarity {
  background-color: #2B6CB0;
  color: white;
}

.uncommon.product__image {
  border-color: #2B6CB0;
}

.common .product__image-rarity {
  background-color: #2F855A;
  color: white;
}

.common.product__image {
  border-color: #2F855A;
}
