.product-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  row-gap: 36px;
  max-width: 975px;
  background-color: #16131D;
  border-radius: 9px;
  padding: 15px;
}

.product-filters {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 24px;
  max-width: 975px;
  background-color: #16131D;
  border-radius: 9px;
  padding: 15px;
}

.sidebar {
  width: 20%;
  min-width: 200px;
}

.product-card a{
  text-decoration: none;
}

.product-card .item-name {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  border-radius: 0px 0px 6px 6px;
  text-align: center;
  color: white;
  background-color: #57455D;
}

.product-card:hover .item-name {
  background-color: #a17e25;
}

.item-name p {
  padding: 0px 10px;
}
