.checkout-page {
  margin: 0 auto;
  max-width: 680px;
}

.checkout-page h2 {
  font-size: 30px;
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}

.cart-item {
  border-radius: 9px;
  margin-bottom: 20px;
  padding: 15px;
  gap: 20px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  background-color: #57455d;
}

.cart-item__img {
  flex: 0 1 150px;
}

.cart-item__controls {
  display: flex;
  flex-flow: row;
  gap: 20px;
  align-items: center;
}

.cart-item__name {
  font-size: 20px;
  font-weight: var(--font-bold);
  margin-right: auto;
  text-transform: capitalize;
  font-weight: bolder;
  flex: 1 1 150px;
}

.add-cart__remove-button {
  border-radius: 8px;
  width: fit-content;
  height: 25px;
  background: #d05a69;
  color: #fff;
  border: none;
  outline: none;
}

.add-cart__remove-button:hover,
.add-cart__remove-button:active {
  background: rgb(165, 47, 62);
}

/*-------- Subtotal Section -------*/
.add-cart__subtotal {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  padding: 10px;
  align-items: center;
}

.add-cart__subtotal :nth-child(1) {
  font-size: 20px;
  padding-right: 15px;
}

.add-cart__subtotal input[type="text"] {
  width: 150px;
  padding: 10px;
  text-align: center;
}

/*--------- not enough gold error  -------*/

#no-gold {
  text-align: right;
  margin: 3% 8% 0% 0%;
  color: #d05a69;
  font-size: 18px;
  font-weight: bold;
}

/* ------ Empty Cart page setup-------------------*/
.checkout-page__empty {
  font-size: 20px;
  font-weight: bold;
  margin: 3% auto;
}
