.product-image {
    max-width: 500px;
    border: 2px solid;
    background-color: #FFFFFF;
    /* border-radius: 9px; */
}

.product-image img {
    display: block;
    margin: 0 auto;

    width: 100%;
}

.product-rarity {
    height: 40px;
    max-width: 170px;
    border-radius: 0px 0px 9px 9px;
    text-align: center;
    margin: 0 auto;
}

p {
    color: white;
    text-align: center;
    padding-top: 8px;
}

.legendary .product-rarity {
    background-color: #C521D3;
}

.legendary.product-image {
   border-color: #C521D3;
}
