/*Font styles*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700');

.wrapper {
/* position: relative; */
max-width: 600px;
border: 10px solid #2187D3;
border-radius: 25px;
    }

/* .product-image {
    position: absolute;
    top: 0;
}

.product-rarity {
position: absolute;
top: 0;
left: 50%;
} */

.wrapper img {
    width: 100%;

}

.product-rarity {
    max-width: 170px;
    margin: 0 auto;
}

.product-rare {
    height: 35px;
    max-width: 170px;
    background-color: #2187D3;
    border-radius: 0px 0px 15px 15px;

    text-align: center;
        margin: 0 auto;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;

}